body{
  margin: 0;
}

img{
  width: 100%;
}

h1, h2{
  margin: 0 auto;
  width: 100%;
  float: left;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 70px;
  color: #db9700;
}

h2{
  font-size: 50px;
}

.page{
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: baseline;
}

.text{
   max-width: 50%;
}

.panel{
  width: 300px;
}

.pin1 {
  animation: pulse 5s infinite;
}

.pin2 {
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    fill-opacity: 0;
  }
  50% {
    fill-opacity: 1;
  }
  100% {
    fill-opacity: 0;
  }
}




#left-stars{
  float: left;
}
